.ForgotPass-Component {
    height: 810px;
    .ForgotPass {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 810px;
        background: hsl(0, 0, 100);
        border-radius: 10px;
        box-shadow: 0 3px 15px hsla(0, 0, 0, 0.2);
        overflow: hidden;
        display: flex;

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    .ant-image{
        .ant-image-mask{
            display: none;
        }
    }

    fieldset::after {
        content: "";
        font-family: FontAwesome;
        position: absolute;
        right: 15px;
        bottom: 10px;
        z-index: 2;
        font-size: 16px;
        color: rgb(134, 133, 143);
        
    }

    .ForgotPass-classic {
        width: 41.112%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(246, 246, 246);

        .img-logo {
            width: 28.717%;
            margin-top: 82px;
            img {
                width: 100%;
            }
            @media (max-width:768px) {
                text-align: center;
            }
        }

        .form {
            width: 67.569%;
            margin-top: 82px;

            h2 {
                font-family: "Nunito";
                font-style: normal;
                font-weight: 700;
                font-size: 22px;
                line-height: 33px;
                color: #282739;
                text-align: center;
            }

            fieldset {
                border: none;
                padding: 0;
                display: flex;
                flex-direction: column;
                position: relative;

                &.password {
                    margin: 20px 0 0 0;
                }

                &.confirm-password{
                    margin: 16px 0 0 0;
                }

                .ant-form-item {
                    margin-top: 4px;
                    width: 100%;
                    margin-bottom: 0;
                    border-radius: 8px;
                    .ant-form-item-control {
                        max-width: 100%;
                        border-radius: 8px;
                        .ant-form-item-control-input {
                            border-radius: 8px;
                            .ant-form-item-control-input-content {
                                border-radius: 8px;
                                .ant-input-affix-wrapper {
                                    border-radius: 8px;
                                }
                            }
                        }
                    }
                }

                

                label {
                    font-family: "Nunito";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 27px;
                    color: #37474f;
                }

                input {
                    width: 100%;
                    height: 34px;
                    color: hsl(0, 0, 20);
                    box-sizing: border-box;

                    font-family: "Nunito";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 27px;
                }

                @media (max-width: 500px) {
                    label{
                        font-size: 13px;
                        line-height: 24px;
                    }
                }
            }

            .submit-button {
                width: 100%;


                .ant-form-item {
                    width: 100%;
                    margin-bottom: 0;
                    .ant-form-item-control {
                        max-width: 100%;
                        .ant-form-item-control-input {
                            .ant-form-item-control-input-content {
                                display: flex;
                                flex-direction: row;
                                justify-content: space-evenly;
                                align-items: center;
                            }
                        }
                    }
                }

                button {
                    width: 40.5%;
                    height: auto;
                    margin-top: 48px;
                    margin-bottom: 50px;
                    box-shadow: 0px 0px 6px #e7e9f2;
                    border-radius: 8px;
                    padding: 10px 24px;
                    font-family: "Nunito";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    background: #ff9138;
                    color: #ffffff;

                    @media (max-width: 900px) {
                        width: 50%;
                    }
                }
            }
            @media (max-width: 1145px) {
                width: 80%;
            }
        }

        @media (max-width: 768px) {
            width: 100%;

            form {
                margin-top: 30px !important;
            }
        }
    }
    .ForgotPass-connect {
        width: 58.889%;
        display: flex;
        align-items: center;

        .img-backbround {
            width: 70%;
            margin: 50px 0 0 43px;

            img {
                width: 100%;
            }

            @media (max-width: 1440px) {
                width: 84%;
            }
        }

        @media (max-width: 768px) {
            display: none;
        }
    }
}
