.Login-Component {
    height: 810px;
    .signin {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 810px;
        background: hsl(0, 0, 100);
        border-radius: 10px;
        box-shadow: 0 3px 15px hsla(0, 0, 0, 0.2);
        overflow: hidden;
        display: flex;

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    .ant-image {
        .ant-image-mask {
            display: none;
        }
    }

    .signin-classic {
        width: 41.112%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(246, 246, 246);

        .img-logo {
            width: 28.717%;
            margin-top: 82px;
            img {
                width: 100%;
            }
            @media (max-width: 768px) {
                text-align: center;
            }
        }

        fieldset::after {
            content: "";
            font-family: FontAwesome;
            position: absolute;
            right: 15px;
            bottom: 10px;
            z-index: 2;
            font-size: 16px;
            color: rgb(134, 133, 143);
            text-align: center;
        }

        fieldset.password::after {
            content: "\f070";
        }

        .ant-form {
            width: 67.569%;
            margin-top: 75px;

            .submitbutton {
                .ant-form-item-control {
                    .ant-form-item-control-input {
                        .ant-form-item-control-input-content {
                            display: flex;
                            justify-content: center;
                            flex-direction: column;
                            align-items: center;
                        }
                    }
                }
            }
            .ant-form-item {
                display: flex;
                flex-direction: column;
                margin-bottom: 16px;
                .ant-form-item-label {
                    text-align: left;
                    max-width: 100%;
                    label {
                        font-family: "Nunito";
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 27px;
                        color: #37474f;

                        &::before {
                            content: "";
                        }

                        &::after {
                            display: inline-block;
                            margin-left: 4px;
                            color: #37474f;
                            font-size: 14px;
                            font-family: SimSun, sans-serif;
                            line-height: 1;
                            content: "*";
                        }
                    }
                }
                .ant-form-item-control {
                    max-width: 100%;
                    .ant-form-item-control-input {
                        .ant-form-item-control-input-content {
                            input {
                                margin-top: 4px;
                                width: 100%;
                                height: 44px;
                                color: hsl(0, 0, 20);
                                padding: 8.5px 12px 8.5px 12px;
                                background: #ffffff;
                                box-sizing: border-box;
                                border-radius: 8px;

                                font-family: "Nunito";
                                font-style: normal;
                                font-weight: 400;
                                font-size: 18px;
                                line-height: 27px;
                            }

                            .ant-input-password {
                                border-radius: 8px;
                                height: 44px;
                                padding-right: 13.66px;

                                input {
                                    height: auto;
                                    padding: 0;
                                    margin-top: 0;
                                }

                                .ant-input-suffix {
                                    span {
                                        svg {
                                            width: 16.67px;
                                            height: 16.67px;
                                        }
                                    }
                                }
                            }

                            a {
                                font-family: "Nunito";
                                font-style: normal;
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 21px;
                                color: #e73f3f;
                            }

                            button {
                                width: 40.5%;
                                height: auto;
                                margin-bottom: 8px;
                                background: #ff9138;
                                box-shadow: 0px 0px 6px #e7e9f2;
                                border-radius: 8px;
                                padding: 10px 24px;
                                color: #ffffff;
                                font-family: "Nunito";
                                font-style: normal;
                                font-weight: 500;
                                font-size: 16px;
                                line-height: 24px;
                                @media (max-width: 1145px) {
                                    width: 50%;
                                    font-size: 14px;
                                }
                                @media (max-width: 858px) {
                                    width: 60%;
                                }
                                @media (max-width: 768px) {
                                    width: 50%;
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }

            .password {
                margin-bottom: 8px;
            }

            fieldset {
                border: none;
                padding: 0;

                position: relative;

                &.username {
                    margin: 20px 0 0 0;
                }

                &.password {
                    margin: 16px 0 10px 0;
                }
            }

            .forgot-pass {
                font-family: "Nunito";
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                color: #e73f3f;
            }

            .submit-button {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
        }

        @media (max-width: 768px) {
            width: 100%;

            form {
                margin-top: 30px !important;
            }
        }
    }
    .signin-connect {
        width: 58.889%;
        display: flex;
        align-items: center;

        .img-backbround {
            width: 74%;
            margin-left: 79px;

            img {
                width: 82%;
            }
            @media (max-width: 1440px) {
                img {
                    width: 100%;
                }
            }
        }

        .content {
            margin-left: -240px;
            margin-top: 150px;
            p {
                width: auto;
                font-family: "Nunito";
                font-style: normal;
                font-weight: 400;
                font-size: 34px;
                line-height: 51px;
                color: #ff7506;

                h2 {
                    font-family: "Nunito";
                    font-style: normal;
                    font-weight: 900;
                    font-size: 44px;
                    line-height: 54px;
                    color: #ff7506;
                }
            }
        }

        @media (max-width: 1340px) {
            // flex-direction: column-reverse;
            justify-content: center;

            .img-backbround {
                margin-left: 0;
                width: 64%;
            }

            .content {
                margin-top: 0;
                p {
                    font-size: 28px;
                    line-height: 45px;

                    h2 {
                        font-size: 38px;
                        line-height: 48px;
                    }
                }
            }
        }

        @media (max-width: 1280px) {
            flex-direction: column-reverse;
            .content {
                margin-left: 0;
            }
        }

        @media (max-width: 768px) {
            display: none;
        }
    }

    .span-error-check-login {
        font-family: "Nunito";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #e73f3f;
    }
}
