.CheckEmail-Component {
    height: 810px;
    .CheckEmail {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 810px;
        background: hsl(0, 0, 100);
        border-radius: 10px;
        box-shadow: 0 3px 15px hsla(0, 0, 0, 0.2);
        overflow: hidden;
        display: flex;

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    .ant-image {
        .ant-image-mask {
            display: none;
        }
    }

    .CheckEmail-classic {
        width: 41.112%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(246, 246, 246);

        .img-logo {
            width: 28.717%;
            margin-top: 82px;
            img {
                width: 100%;
            }
            @media (max-width: 768px) {
                text-align: center;
            }
        }

        .form {
            width: 67.569%;
            margin-top: 82px;
            fieldset {
                border: none;
                padding: 0;
                display: flex;
                flex-direction: column;
                align-items: center;

                position: relative;

                &.email {
                    margin: 20px 0 0 0;
                }
                .ant-form-item {
                    width: 100%;
                    margin-bottom: 0;
                }

                h2 {
                    font-family: "Nunito";
                    font-style: normal;
                    font-weight: 700;
                    font-size: 22px;
                    line-height: 33px;
                    color: #282739;
                }

                label {
                    font-family: "Nunito";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 27px;
                    color: #37474f;
                }

                input {
                    margin-top: 4px;
                    width: 100%;
                    height: 44px;
                    color: hsl(0, 0, 20);
                    padding: 8.5px 12px 8.5px 12px;
                    background: #ffffff;
                    border: 1.5px solid #d4d4d7;
                    box-sizing: border-box;
                    border-radius: 8px;

                    font-family: "Nunito";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 27px;
                }

                @media (max-width: 500px) {
                    label {
                        font-size: 13px;
                        line-height: 24px;
                    }
                }
            }

            .submit-button {
                width: 100%;

                .ant-form-item {
                    width: 100%;
                    margin-bottom: 0;
                    .ant-form-item-control {
                        max-width: 100%;
                        .ant-form-item-control-input {
                            .ant-form-item-control-input-content {
                                display: flex;
                                flex-direction: row;
                                justify-content: space-evenly;
                                align-items: center;
                            }
                        }
                    }
                }

                button {
                    width: 40.5%;
                    height: auto;
                    margin-top: 48px;
                    margin-bottom: 50px;
                    box-shadow: 0px 0px 6px #e7e9f2;
                    border-radius: 8px;
                    padding: 10px 24px;
                    font-family: "Nunito";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;

                    &.destroy-button {
                        background: #ffffff;
                        border-color: #ff9138;
                        color: #ff9138;
                    }

                    &.continue-button {
                        background: #ff9138;
                        color: #ffffff;
                    }

                    @media (max-width: 858px) {
                        width: 42%;
                        font-size: 14px;
                    }
                }
            }
            @media (max-width: 1145px) {
                width: 80%;
            }
        }

        @media (max-width: 768px) {
            width: 100%;

            form {
                margin-top: 30px !important;
            }
        }
    }
    .CheckEmail-connect {
        width: 58.889%;
        display: flex;
        align-items: center;

        .img-backbround {
            width: 70%;
            margin: 50px 0 0 43px;

            img {
                width: 100%;
            }

            @media (max-width: 1440px) {
                width: 84%;
            }
        }

        @media (max-width: 768px) {
            display: none;
        }
    }
}
